<div class="grid grid-cols-2 h-full gap-8 px-16 pt-16">
  <div class="w-full h-full border rounded-3xl">
    <div>
      <div>Icon</div>
      <div class="text-2xl">Gust</div>
      <div class="text-2xl">2 M/S</div>
      <div></div>
    </div>
  </div>
  <div class="w-full h-full border rounded-3xl">Humidity</div>
  <div class="w-full h-full border rounded-3xl">Percipitation</div>
  <div class="w-full h-full border rounded-3xl">UV INDEX</div>
  <div class="w-full h-full border rounded-3xl">pressure</div>
  <div class="w-full h-full border rounded-3xl">Sunrise / Sunset</div>
</div>
